h1 {
  color: #ff6699;
  font-size: 18px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 62px;
}

h2 {
  color: #ff6699;
  font-size: 25px;
  font-weight: 700;
  display: inline;
  position: relative;
  left: 645px;
  top: -65px;
}

h3 {
  color: #ff6699;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  left: 95px;
  margin-top: -20px;
}

h4 {
  color: #ff6699;
  font-size: 18px;
  position: relative;
  top: -210px;
  left: 555px;
}

h5 {
  color: #ff6699;
  font-size: 18px;
  position: relative;
  top: -281px;
  left: 735px;
}

h6 {
  font-size: 20px;
  margin-top: 14px;
}

p {
  color: #ff6699;
  font-size: 23px;
  text-align: center;
  position: relative;
  bottom: 140px;
}

footer {
  color: #ff6699;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  position: relative;
  bottom: 105px;
}

#quote {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -175px;
}

#current-weather-icon {
  display: block;
  position: relative;
  top: -105px;
  left: 335px;
  max-width: 160px;
  max-height: 160px;
}

#current-city {
  font-size: 35px;
}

#current-temp {
  font-size: 35px;
}

.highlow {
  font-size: 15px;
}

.button {
  color: #ff6699;
  border-radius: 20%;
  border: 1px solid #ff99cc;
  font-weight: 600;
}

.search {
  color: #ff6699;
  display: inline;
  position: relative;
  left: 650px;
  top: -70px;
}

.textbox {
  color: #ff6699;
  width: auto;
}

#currentlocation-button {
  background-color: transparent;
  border: solid 2px #ff6699;
  border-radius: 20%;
  position: relative;
  left: 865px;
  top: -104px;
  height: 35px;
  width: 35px;
}

#location-button :hover {
  background-color: #ff99cc;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.active {
color: #ff6699;
cursor: default;
}

.active:hover {
  text-decoration: none;
}

#hourly-forecast {
  color: #ff6699;
  font-size: 15px;
  display: inline;
  position: relative;
  left: 38px;
  bottom: 200px;
  margin: 0 auto;
 }

 #forecast-icon {
   position: relative;
   left: -22px;
 }

.box {
  font-family: "Boogaloo", cursive;
  font-family: "Handlee", cursive;
  border: 5px dotted #ff99cc;
  border-radius: 5%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 950px;
  height: 720px;
}
